.workshop-container {
    min-height: 100vh;
    background-color: #000;
    padding-top: 80px;
}

.image-boxes {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    max-width: 100%;
}

.image-box {
    width: 100%;
    height: auto;
    border: 2px solid #272727;
    border-radius: 5px;
    padding: 0.5rem;
}

.image-box img {
    width: 100%;
    height: auto;
    max-height: 80vh;
    object-fit: contain;
}

.coming-soon {
    font-family: 'Inter', sans-serif;
    color: #fff;
    text-align: center;
    margin: 1rem 0;
    font-size: 3rem;
    font-weight: 600;
}
